<h1>Editing Comment</h1>

<%= render 'form', comment: @comment %>
<table>
  <thead>
  <tr>
    <th> Message</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td> New message: </td>
    <td><%= link_to 'Save', root_path %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
