<%= stylesheet_link_tag 'members'%>
<br/>
<h1 class="meme"  > Acceptable Use Policy </h1>

<div class="membersdiv">
  <p>
    As a member of the University community, the university provides you with the use of scholarly and/or work-related tools, including access to the Library, to certain computer systems, servers, software and databases, to the campus telephone and voice mail systems, and to the Internet. You have a reasonable expectation of unobstructed use of these tools, of certain degrees of privacy (which may vary depending on whether you are a University employee or a matriculated student), and of protection from abuse and intrusion by others sharing these resources. You can expect your right to access information and to express your opinion to be protected as it is for paper and other forms of non-electronic communication.

    In turn, you are responsible for knowing the regulations and policies of the University that apply to appropriate use of the University's technologies and resources. You are responsible for exercising good judgment in the use of the University's technological and information resources. Just because an action is technically possible does not mean that it is appropriate to perform that action.

    As a representative of the Brown University community, you are expected to respect the University's good name in your electronic dealings with those outside the University.
  </p>
</div>
<button class="btn2 info-1" align="center"><%= link_to 'Back', events_path %></button>
