<div class="row ml-0 mt-3">
  <h2 class="edith2">New Guests</h2>
  <p class="p-edit">Please select the guests for your event:</p>
</div>
<div class="div-2">
  <%= form_with model: @guest_list, local: true do |form| %>

<label for="guest"> Choose the guests: </label>
<select name="guest" id="guest" multiple>
  <option value="hola"> hola </option>
  <option value="hola"> hola </option>
  <option value="hola"> hola </option>
  <option value="hola"> hola </option>
  <option value="hola"> hola </option>
  <option value="hola"> hola </option>
  <option value="hola"> hola </option>

</select>
  <% end %>
</div>