<%= form_with(model: multimedium, local: true) do |form| %>
  <% if multimedium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(multimedium.errors.count, "error") %> prohibited this multimedium from being saved:</h2>

      <ul>
        <% multimedium.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
