<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'multimedia'%>
<h1 class="multimediah1"> View Videos and Images of the event: <%= Event.select(:title).where(id: @multimedia_event.first.event_id).first.title %> </h1>

<br/>
<br/>

<h2 class="multimediah2"> Images </h2>

<br/>


<h2 class="multimediah2"> Videos </h2>

<br/>
