<%= form_with(model: choice_of_date, local: true) do |form| %>
  <% if choice_of_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(choice_of_date.errors.count, "error") %> prohibited this choice_of_date from being saved:</h2>

      <ul>
        <% choice_of_date.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
