<p id="notice"><%= notice %></p>
<div class="row ml-0 mt-3">
  <h2 class="edith2">Edit "<%=@event.title%>" Event</h2>
  <p class="p-edit">Please enter the required information to edit the "<%=@event.title%>" event:</p>
</div>

<%= render partial: "form",
           locals: {
               event: @event,
               ticket_type_section_title: "Edit event",
               ticket_type_instruction_text: "You may edit existing ticket types for your event"
           } %>

