<h2>Upcoming Events...</h2>


<table>
  <thead>
  <tr>
    <th>Description</th>
    <th>Final date</th>
    <th>Location</th>
    <th>Show </th>
  </tr>
  </thead>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>

  <tbody>
  <% @upcoming_events.each do |x| %>
    <tr>
      <td><%= x.description %></td>
      <td><%= x.final_date %></td>
      <td><%= x.location %>
      <td><%= link_to 'View', events_path %></td>
    </tr>
  <% end %>
  </tbody>
</table>
