<%= form_with(model: reply_comment, local: true) do |form| %>
  <div class="div-edit11">
    <%= form.label :message %>
    <br/>
    <%= form.text_area :message, class: "form-control" %>
  </div>

  <div class="div-edit11">
    <%= form.submit "Edit", class: ["btn"] %>
  </div>
<% end %>
</div>