.edith2 {
    text-align: left;
    margin-left: 4cm;
}

.edith3 {
    text-align: left;
    margin-left: 2cm;
}
.div-edit {
    background-color: lightgrey;
    background-size: 900px;
    width: 1000px;
    padding: 15px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}
.buttonedit {

}
p{

}