.edith2 {
    text-align: left;
    margin-left: 1cm;
}
.edith2-1 {
    text-align: left;
    margin-left: 4cm;
}
.h3edit {
    text-align: left;
    margin-left: 2cm;
}

.div-edit {
    background-color: gainsboro;
    background-size: 900px;
    width: 900px;
    padding: 15px;
    margin: 15px;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}
.div-2 {
    background-color: lightgray;
    background-size: 900px;
    width: 1010px;
    padding: 15px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}
.buttonedit {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 12px 28px;
    text-align: center;
    width: 22%;
    font-size: 16px;
    margin-right: 1cm;
    margin-left: 10cm;
    margin-top: 0.5cm;
}
.p-edit
{
    text-align: left;
    margin-left: 1cm;
}
button {
    padding: 10px 24px;
}