.eventpageh1 {
    color: black;
    width: 500px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
    text-align: left;
    margin-top: 1cm;
}
.eventpageh4{
    color: black;
    margin-left: 12cm;
}
.button1{
    border: 1px solid black;
    background-color: ghostwhite;
    padding: 10px 24px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1cm;
    width: 17%;
    margin-left: 8cm;
}
.button1-1{
    border: 1px solid black;
    background-color: white;
    padding: 10px 24px;
    font-size: 16px;
    margin-left: 15cm;
    margin-bottom: 1cm;
    display: inline-block;
    margin-right: 0.1cm;
    width: 17%;
    margin-left: 8cm;
}

.eventpagediv{
    background-color: lightgrey;
    background-size: 900px;
    width: 1000px;
    padding: 15px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}

.button2{
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin-right: 1cm;
    width: 17%;
    margin-left: 15cm;
    margin-top: 1cm;
}
.h3-pageevent {
    color: black;
    margin: 15px;
    margin-left: 4cm;
    text-align: left;
}
.eventpageh41{
    color: black;
    text-align: left;
    margin-left: 1cm;
}
.eventpagediv1{
    background-color: lightgrey;
    background-size: 900px;
    width: 100px;
    padding: 15px;
    margin: 15px;
    margin-left: 5cm;
    margin-right: 3cm;
}