.h3-event{
    margin-top: 1cm;
    text-align: left;
    margin-left: 4cm;
}
h4 {
    margin-left: 12cm;
}
.btn {
    border: 1px solid black;
    background-color: ghostwhite;
    padding: 14px 24px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 17%;
    margin-left: 1cm;
}

/* Green */
.success {
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

/* Blue */
.info {
    color: dodgerblue;
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    color: orange;
    text-align: center;
}

.warning:hover {
    background: #ff9800;
    color: white;
    text-align: center;
}

/* Red */
.danger {
    color: red;
}

.danger:hover {
    background: #f44336;
    color: white;
}
div {
    background-color: lightgrey;
    background-size: 900px;
    width: 1000px;
    padding: 15px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}

.success-1 {
    color: green;
    margin-left: 4cm;
}

.success-1:hover {
    background-color: #4CAF50;
    color: white;
}
.btn a {
    color: black;
    text-decoration: none;
}
.info-1 {
    color: dodgerblue;
}

.info-1:hover {
    background: #2196F3;
    color: white;}

.asideprofile {
    width: 30%;
    padding: 10px 24px;
    float: left;
    display: block;
    font-style: italic;
    background-color: white;

}