.homeh2 {
    margin-top: 1cm;
    color: black;
    text-align: left;
    margin-left: 4cm;
}

.homeh4{
    color: black;
    size: 10px;
    margin-left: 12cm;
    margin-right: 1.5cm;
    margin-top: -5cm;
}

.buttonhome {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin-right: 1cm;
    margin-left: 23cm;
}
.homeh5{
    color: black;
    margin-left: 12cm;
    margin-right: 1.5cm;
}

.homediv {
    background-color: lightgray;
    background-size: 900px;
    width: 1000px;
    padding: 15px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}
.buttonhome a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.imageleft {
    text-align: left;
    margin-left: 1cm;
}
.imageleft1 {
    text-align: left;
    margin-left: 5cm;
}