.membersh2{
    background-color: darkred;
    color: white;
    width: 200px;
    margin: 15px;
    margin-left: 15cm;
    margin-right: 3cm;
    text-align: center;
    margin-top: -6cm;
}
.membersh4{
    color: black;
    margin-left: 15cm;
}
.membersh3 {
    background-color: darkred;
    color: white;
    width: 200px;
    margin: 15px;
    margin-left: 5cm;
    margin-right: 3cm;
    text-align: center;
    margin-top: 4cm;
}
.membersh2-1 {
    color: black;
    text-align: left;
    margin-top: 1cm;
    margin-left: 4cm;
}
.membersh4-1 {
    color: black;
    margin-left: 12cm;
    margin-bottom: 3.5cm;
}
.membersh4-1p {
    color: black;
    margin-left: 12cm;
    margin-top: -5cm;
}
.membersdiv {
    background-color: lightgrey;
    background-size: 900px;
    width: 1000px;
    padding: 15px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}

.botonmembers {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin-left: 24cm;
}
.imageleft {
    text-align: left;
    margin-left: 1cm;
}
.imageleft1 {
    text-align: left;
    margin-left: 5cm;
}
.meme {
    margin-left: 4cm;
}