.membersh2{
    background-color: darkred;
    color: white;
    width: 200px;
    margin: 15px;
    margin-left: 12cm;
    margin-right: 3cm;
    text-align: center;
    margin-top: 1cm;
}
.membersh4{
    color: black;
    margin-left: 12cm;
}
.membersh3 {
    background-color: darkred;
    color: white;
    width: 200px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
    text-align: center;
    margin-top: 1cm;
}
.membersh2-1 {
    color: black;
    text-align: left;
    margin-top: 1cm;
    margin-left: 4cm;
}
.membersh4-1 {
    color: black;
    margin-left: 8cm;
}
.membersdiv {
    background-color: lightgrey;
    width: 500px;
    padding: 15px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}

.botonmembers {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin-left: 24cm;
}