.multimediah1 {
    color: black;
    width: 600px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
    text-align: left;
    margin-top: 1cm;
}

.multimediah2 {
    color: black;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;

}