ul {
    list-style-type: none;
    margin-left: 4cm;
    margin-right: 1.5cm;
    padding: 0.3cm 0.3cm;
    overflow: hidden;
    background-color: darkred;
}

li {
    float: left;
    background-color: white;
    background-size: 0.5cm 0.5cm;
    text-align: center;
    background-position: center;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    border-right: 10px solid darkred;
}

li:last-child {
    border-right: none;
}


li {
    float: left;
    background-color: white;
    background-size: 0.5cm 0.5cm;
    text-align: center;
    background-position: center;
}
.buttonhomexd {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
}
.inputxd {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 12px 28px;
    margin-left: 20cm;

}

