.divorganization {
    background-color: lightgrey;
    background-size: 900px;
    width: 1000px;
    padding: 15px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}
.organizationh2{
    background-color: darkred;
    color: white;
    width: 200px;
    margin: 15px;
    margin-left: 15cm;
    margin-right: 3cm;
    text-align: center;
    margin-top: -6cm;
}
.botonorganizacion {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin-right: 1cm;
    margin-left: 22cm;

}

.botonorganizacion1 {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin-left: 1cm;
    margin-top: 0.5cm;
    display: inline-block;
    width:40%;
}

.organizationh4{
    color: black;
    margin-left: 15cm;

}
.organizationh4-1p {
    color: black;
    margin-left: 12cm;
    margin-top: -5cm;
}
.organizationh4-1{
    color: black;
    margin-left: 12cm;

}
.organizationh2-1 {
    color: black;
    text-align: left;
    margin-top: 1cm;
    margin-left: 4cm;
}

.organizationh3-2 {
    background-color: darkred;
    color: white;
    width: 200px;
    margin: 15px;
    margin-left: 5cm;
    margin-right: 3cm;
    text-align: center;
    margin-top: 4cm;
}
.botonorganizacion1 a {
    float: left;
    text-decoration: none;
    color: black;
}
.botonorganizacion a {
    float: left;
    text-decoration: none;
    color: black;
}
.imageleft {
    text-align: left;
    margin-left: 1cm;
}
.imageleft1 {
    text-align: left;
    margin-left: 5cm;
}

.aside-organization {
    width: 30%;
    padding: 10px 24px;
    margin-right: 1cm;
    margin-bottom: 1cm;
    float: right;
    display: inline;
    font-style: italic;
    background-color: white;
}
.organizationh4-11{
    color: black;
    margin-left: 1cm;
}
