.botondivprofile {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin-right: 1cm;
    margin-left: 22cm;

}
.divprofile {
    background-color: lightgrey;
    background-size: 900px;
    width: 1000px;
    padding: 16px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;

}
.h2profile {
    background-color: darkred;
    color: white;
    width: 350px;
    margin: 15px;
    margin-left: 5cm;
    margin-right: 3cm;
    text-align: center;
}
.h4profilep {
    color: black;
    margin-left: 15cm;
    margin-right: 1.5cm;
    margin-top: -6cm;
}
.h4profile {
    color: black;
    margin-left: 15cm;
    margin-right: 1.5cm;

}
.asideprofile {
    width: 30%;
    padding: 10px 24px;
    margin-right: 1.5cm;
    float: right;
    display: block;
    font-style: italic;
    background-color: white;
}

.h2profile2 {
    color: black;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;

}
.botonasideprofile {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin-left: 1cm;
    margin-top: 0.5cm;

    display: inline-block;
}
.botonasideprofile a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 16px;
}
.botondivprofile a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 16px;
}
.imageleft {
    text-align: left;
    margin-left: 1cm;
}