.botondivprofile {
    background-color: white;
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin-right: 1cm;
    margin-left: 22cm;
}
.divprofile {
    background-color: lightgrey;
    background-size: 900px;
    width: 1000px;
    padding: 15px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}
.h2profile {
    background-color: darkred;
    color: white;
    width: 200px;
    margin: 15px;
    margin-left: 12cm;
    margin-right: 3cm;
}
.h4profile {
    color: black;
    margin-left: 12cm;
    margin-right: 1.5cm;
}
.asideprofile {
    width: 30%;
    padding: 10px 24px;
    margin-right: 1.5cm;
    float: right;
    display: block;
    font-style: italic;
    background-color: white;
}

.h3profile {
    color: black;
    width: 200px;
    margin: 15px;
    margin-left: 4cm;
    margin-right: 3cm;
}
.botonasideprofile {
    background-color: white;
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin-right: 1cm;
    margin-left: 1cm;
}
.botondivprofile {
    background-color: white;
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    font-size: 16px;
    margin-right: 1cm;
    margin-left: 22cm;
}