.searchh1 {
    text-align: center;
    margin-left: 4cm;
}
.searchh2 {
    text-align: left;
    margin-left: 4cm;
}
.searchh3 {
    text-align: left;
    margin-left: 4cm;
}
.searchh31 {
    text-align: left;
    margin-left: 0.5cm;
}

.searchh4 {
    text-align: left;
    margin-left: 0.5cm;
}
.boton_back {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin-right: 1cm;
    margin-left: 4cm;
}

.boton_back a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 16px;
}

.btn-search {
    background-color: white;
    border: 0.5px solid black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin-right: 1cm;
    margin-left: 3cm;
}

.btn-search a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 16px;
}

.div-search {
    width: 600px;
}
.div-search1 {
    width: 300px;
    background-color: gainsboro;
}