<div class="row ml-0 mt-3">
  <h2 class="edith2">Edit "<%=@organization.name%>" Organization</h2>
</div>

<%= render partial: "form",
           locals: {
               organization: @organization,
               ticket_type_section_title: "Edit event",
               ticket_type_instruction_text: "You may edit existing ticket types for your event"
           } %>