<p id="notice"><%= notice %></p>

<h1>My Organization</h1>

<table>
  <thead>
  <tr>
    <th> Name </th>
    <th> Description </th>
  </tr>
  </thead>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <tbody>
  <tr>
    <% @organization_user.each do |e| %>
    <td><%= e.name %></td>
    <td><%= e.description %></td>
    <% end %>
  </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
