<p id="notice"><%= notice %></p>

<h2>Votes of the Event </h2>

<table>
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
  <% @dates.each do |date| %>

    <% votes = [] %>
      <tr>

        <td><%= date.date %></td>
        <% @guests.each do |guest| %>
          <%= votes << Vote.where(guest_list_id: guest.id,event_dates_id:date.id)%>
        <%end %>
        <td>1</td>
  <%end %>

      </tr>

  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>
